= form_for @post, html: { role: "form" } do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"
  .form-group
    = f.label :body
    = f.text_area :body, size: '50x10', class: "form-control"
  = f.submit 'Submit', class: "btn btn-default"
