<%= form_for @post, html: { role: "form" } do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, size: '50x10', class: "form-control" %>
  </div>
  <%= f.submit 'Submit', class: "btn btn-default" %>
<% end %>
