<%= form_for @contact_form, html: { role: "form" } do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_area :message, size: '50x10', class: "form-control" %>
  </div>
  <div class="form-group hidden">
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>
  <%= f.submit 'Submit', class: "btn btn-default" %>
<% end %>
