<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/google_site_verification" %>

  <title>Blog</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Home", posts_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact Me", new_contact_form_path %></li>
        <li><%= link_to("Create New Post", new_post_path) if user_signed_in? %></li>
        <li><%= link_to("Sign Out", destroy_user_session_path, method: :delete) if user_signed_in? %></li>
      </ul>
    </div>
  </nav>

  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert" ><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:error] %>
    <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
  <%= javascript_include_tag 'application' %>
</html>
